<%= form_with(model: app_x) do |form| %>
  <% if app_x.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(app_x.errors.count, "error") %> prohibited this app_x from being saved:</h2>

      <ul>
        <% app_x.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :published %>
    <%= form.date_select :published %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
