<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @app_x.title %>
</p>

<p>
  <strong>Published:</strong>
  <%= @app_x.published %>
</p>

<%= link_to 'Edit', edit_app_x_path(@app_x) %> |
<%= link_to 'Back', app_xes_path %>
